<!doctype HTML>
<html>
    <head>
    <title> Hello World Mean Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    </head>
    <body ng-app='app'>
     <div ng-controller='PostsCtrl' class='Container'>
         <h1>Recent Posts</h1>
         <button ng-click='add post()' class='btn btn-default'>Add Posts</button> 
         <ul class='list-group'>
            <li ng-repeat='posts in posts' class='list-group-item'>
                 <strong>@{{ post.username}}</strong>
                 <span>{{ post.body }}</span>
             </li>
         </ul>
     </div> 
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
    <script>
        var app = angular.module('app', [])
        app.controller('PostsCtrl', function ($scope) {
            $scope.addpost = function () {
                $scope.posts.unshift({
                    username: 'bridgetsarah',
                    body: 'my new post!'
                })
            }            
            $scope.posts = [
            {
                username: 'bridget',
                body: 'node rules!'
            },
            {
                username: 'bridget123',
                body: 'trying out angular js'
            }
            ]
        })
    </script>   
    </body>
</html>